body {
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  margin-top: 50px;
}

div {
  margin-top: 20px;
}

label {
  display: inline-block;
  width: 80px;
  text-align: right;
  margin-right: 10px;
}

input {
  width: 60px;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
}

#resultado {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}
